.favorite-tile {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #a8d9e7;
  color: white;
}

.favorite-city {
  cursor: pointer;
}

.favorite-remove {
  cursor: pointer;
}
